*{
    text-decoration:none;

}

header  {
    height: 50px;
    margin-bottom: 50px;
    margin-top:-15px;
    margin-left: -15px;
    background : #3d5e95; 
}
#conntext{
    color:white;
    font-size: 6.5px;
    font-weight: bold;
    margin-bottom:3px;
}

#connbar li{
        display: inline-block;
        margin-left:0px;
        width: 110px;
        vertical-align: top;
}
#formconn{
    height : 15px;
    width:100px;
    border-radius: 0px;
    font-size: 10px;
    color:gray;
}
#connection{
    background:#456db0;
    color:white;
    border-color: #334f80;
    border-width: 2px; 
    border-radius: 0px;
    width:70px;
    height : 20px;
    font-size: 10px;
    font-weight: bold;

}


html {
    font-size: 11px;
    font-family: 'Arial';
    background: linear-gradient(#ffffff, #d4dae8);
    padding: 0 auto;
    margin :0;
}
#footer{
    font-size: 8px;
    margin-left:20px;
}

#sexe{
    font-size: 15px;

}
#formsexe{
    width: 8px;
}
#body{
    margin-left:20px;
    margin-bottom: auto;

}

input{
    display:inline-block;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    background : white;
    width: 140px;
    height: 25px;
    color: gray;
    margin-bottom: 5px;
}

#bigform{
    display:inline-block;
    width: 290px;
}
#date{
    width: auto;
    font-size: 8px;
    border-radius: 3px;
    height: 20px;
    vertical-align: center;
    text-align: center;
}
#date2 li{
    display: inline-block;
    margin-left:-40px;
    width: 180px;
    vertical-align: top;
    font-size: 8px;
}

#register{
    display: block;
    width: 150px;
    height:30px;
    text-align:center;
    background: linear-gradient(#7aa455, #668645);
    color:white;
    font-size: 15px;
    font-weight: bold;
    border-radius : 3px;
    margin-left:20px;
}